/*========================== Category Carousel Snippet =======================*/
#myCarousel_category
{
	display: inline-block;
	width:100%;
	text-align: center;

	.c_pc_image
	{
		display: inline-block;
		width: 17%;
		padding: 0 15px;
		
		.ctn_name
		{
			text-align: center;

			.categ_name
			{
				padding-bottom:4px;
				@include transform(perspective(1px) translateZ(0))
				font-size: 1rem;
    			color: nth($f_color,19);
				@include position(relative); 
				overflow: hidden;
				
				/*&:before
				{
					content: "";
					@include position(absolute,auto,100%,0,0);
					z-index: -1;
					background: nth($f_color,19);
					height: 2px;
					@include transition(right,null,null)
					@include transition(null,0.3s,null)
					@include transition(null,null,ease-out)
				}*/
			}
		}
			
		.img {
			max-height: 150px;
			display: block;
			margin: 0px auto;
		}
		&:hover .img {
			@include transition(all,.4s,ease-out);
			@include transform(scale(1.1));			
		}		
	}
}
